/*NAV BAR STARTS*/
.navbar{
    margin-top: 10px;
}
.nav-left{
    margin-left: 516px;
}
#navbarDropdown{
    color: rgb(0, 0, 0);
    margin-left: 25px;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder; 
} 
#support{
    font-size: 30px;
    font-weight: bold;
}
.btn{
    margin-left: 21px;
}
.contact-index{
    text-decoration: none;
    color: white;
}
.contact-index:hover{
    color: red;
    font-weight: bold;
    transition: ease-out;
}
.left{
 margin-left: 50px;   
}
.leftt{
    margin-left: 30px;
}
.nav-color{
    color: black;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
/*NAV BAR ENDS*/
.main-head{
    font-size: 50px;
    font-weight:900;
}
.child{
    justify-content: flex-end;
}
.tagline{
    font-size: 50px;
    font-weight: 500;
}
#palce{
    font-weight: 600;
}
.main-img{
    height: 500px;
}
.big-txt{
    display: flex;
    justify-content: space-around;
    font-size: 53px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.color-div{
    width: auto;
    height: 100px;
    background-color: lightseagreen;
    border: 10px;
}
footer{
    height: 100px;
    font-family: 'Poppins', sans-serif;
}
.footer-color{
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.footer-img{
    height: 50px;
    margin-top: 6px;
}
/*MEDIA QUERIES TO MAKE WEB PAGE RESPONSIVE*/
@media (min-width: 200px) and (max-width: 500px) {
.child{
    display: none;
}
.big-txt{
    font-size: 30px;
    color:rgb(214, 37, 14);
    
}
.color-div{
    background-color: black;
    color: white;
}
#support{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}
.big-txt{
    margin-bottom: 10px;
    margin-top: 0;
}
}