/*NAV BAR STARTS*/
.navbar{
    margin-top: 10px;
}
.nav-left{
    margin-left: 516px;
}
#navbarDropdown{
    color: rgb(0, 0, 0);
    margin-left: 25px;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder; 
} 
#support{
    font-size: 30px;
    font-weight: bold;
}
.btn{
    margin-left: 21px;
}
.contact-index{
    text-decoration: none;
    color: white;
}
.contact-index:hover{
    color: red;
    font-weight: bold;
    transition: ease-out;
}
.left{
 margin-left: 50px;   
}
.leftt{
    margin-left: 30px;
}
.nav-color{
    color: black;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
/*NAV BAR ENDS*/
.subject{
    font-size: 50px;
    font-weight:bolder;
    font-family: cursive;
    color: rgb(34, 128, 73);
}
.presentation{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
}
.color-div{
    width: auto;
    height: 100px;
    background-color: lightseagreen;
    border: 10px;
}
.c-box{
    margin-top: 30px;
    margin-bottom: 30px;
}
@media (min-width: 200px) and (max-width: 500px) {
    .subject{
        font-size: 40px;
    }
    #support{
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 20px;
    }
    .color-div{
        border-radius: 10px;
        border: 2px solid white;
    }
}